{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
      <div class="media-body">
          <div class="article-metadata">
          <h3 class="mr-2">Profile of  {{ user.username }}</h3>
          </div>
          <p>
              Age : {{ user.age }}<br>
              Gender : {{ user.gender }}<br>
          </p>
          <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Update Profile</button>
              </div>
          </form>
      </div>
  </article>
{% endblock content %}